@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
span,
div,
h1,
h2,
h3 {
	font-family: 'Barlow', sans-serif;
}

section {
	max-width: 1110px;
	margin: 0 auto;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
